In [41]:
import pandas as pd
import numpy as np
import statistics
import math
df = pd.read_csv('/home/mariahwarren/student_grades_2024.csv')
df

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

In [25]:
mean = np.mean(df['Math'])
mean2 = np.mean(df['Science'])
mean3 = np.mean(df['Reading'])
mean4 = np.mean(df['History'])
print(f"Mean of Math: {mean}")
print(f"Mean of Science: {mean2}")
print(f"Mean of Reading: {mean3}")
print(f"Mean of History: {mean4}")

Mean of Math: 11.928571428571429
Mean of Science: 14.214285714285714
Mean of Reading: 10.785714285714286
Mean of History: 11.428571428571429

In [9]:
median = np.median(df['Math'])
print(f"Median of Math: {median}")

Median of Math: 11.0

In [15]:
mode = statistics.mode(df['History'])
print(f"Mode of History: {mode}")

Mode of History: 14.0

In [39]:
data = {'Math': [11.0, 12.0, 11.0, 7.0, 9.5, 15.0, 18.0], 'Science': [9.0, 11.0, 18.0, 15.5, 12.0, 18.5, 15.5], 'Reading': [16.0, 8.5, 11.5, 11.0, 10.5, 7.0, 11.0], 'History': [13.5, 10.0, 9.0, 14.0, 14.0, 12.0, 7.5]}
df2 = pd.DataFrame(data)
df2
correlation_matrix = df2.corr()
print(f"Correlation: {correlation_matrix}")

Correlation:              Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

In [43]:
def desc_stats():
    math_grades = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
    mean = np.mean(math_grades)
    median = np.median(math_grades)
    mode = statistics.mode(math_grades)
    minimum = min(math_grades)
    maximum = max(math_grades)
    range = maximum - minimum
    variance = sum((x - mean) ** 2 for x in math_grades) / len(math_grades)
    std_dev = math.sqrt(variance)
    print(f"Mean: {mean}")
    print(f"Median: {median}")
    print(f"Mode: {mode}")
    print(f"Minimum: {minimum}")
    print(f"Maximum: {maximum}")
    print(f"Range: {range}")
    print(f"Variance:{variance}")
    print(f"Standard Deviation: {std_dev}")

In [45]:
desc_stats()

Mean: 59.47826086956522
Median: 60.0
Mode: 60
Minimum: 5
Maximum: 99
Range: 94
Variance:664.162570888469
Standard Deviation: 25.77135174740489