# Weather Changes Over Time (Consuming APIs)

## Task
Utilize the following two APIs to evaluate the changes in temperature for your birthday and city you were born in:
* [geocode.xyz](geocode.xyz)
* [open-meteo.com](open-meteo.com)

In [115]:
from datetime import date, datetime, timedelta

import requests
import pandas as pd
import numpy as np
import json


import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib.ticker import FormatStrFormatter

%matplotlib inline

sns.set_palette('muted')
sns.set_style('white')

## Question 1: Geocoding A Location

> Indented block


Write a function that utilizes the [geocode.xyz](geocode.xyz) API to take in a city and country and return the latitude and longitude of that location

```
def geocode_location(city, country):
    # your code
    return latitude, longitude
```

For example:
```
geocode_location("london", "united kingdom")
```
should return
```
(51.49742, -0.11534)
```

In [93]:
# write your solution here
def geocode_location(city, country):
    url='https://geocode.xyz/'
    params={'locate': f'{city},{country}',
           'json':1}
    r=requests.get(url,params=params)
    r=r.json()
    latitude=r['latt']
    longitude=r['longt']
    return latitude,longitude

In [95]:
geocode_location('New York City','United States')

('40.75073', '-73.98460')

## Question 2: Determining Weather Using Date and Location
Write a function that utilizes the [open-meteo.com](https://open-meteo.com/) API to take in a date and location and return the 15-day average high and low for the following measurements from the years 1960 to 2022:
* `precipitation_sum` (mm): Sum of daily precipitation (including rain, showers and snowfall)
* `temperature_2m_max` (°F): Maximum daily air temperature at 2 meters above ground
* `temperature_2m_min` (°F): Minimum daily air temperature at 2 meters above ground
* `apparent_temperature_max` (°F): Maximum daily apparent temperature
* `apparent_temperature_min` (°F): Min daily apparent temperature

The function should return the above measurements in a dictionary object with the keys being `"precipitation_sum"`, `"temperature_2m_max"`, etc. and the values being the 15-day average of the measurements. The 15-day average should be the 7 days preceeding the input date, the input date, and the 7 days following the input date. This will give the results more statistical validity by increasing the number of samples for each measurement.

The `get_historical_weather_measurements()` function will include a few different sub-tasks:

### Create API Request in Postman/Insomnia
Use the following [API Documentation](https://open-meteo.com/en/docs/historical-weather-api#api-documentation) page to create an API request that responds with a JSON object of the measurements listed above. Make sure the response object meets the following:
* Temperatue measurements are in Fahrenheit
* Precipitation measurements are in inches
* Measurements are daily aggregations
* 15 day range of weather
* JSON format

Before writing any code, use Postman/Insomnia to create the API request and take a screenshot of the request/response.

#### HINT: How to insert a screenshot
1. Take a screenshot and save it to a file.
2. Create a markdown cell in your notebook.
3. Insert the image into the markdown cell.
  * Option 1: Drag the image file into the markdown cell. This embeds the image data directly into your Jupyter notebook.
  * Option 2: Move the file into the directory with your notebook file (inside the project folder that you will submit). Add markdown to insert the image: `![alternative text](path-to-image)`

### Create API Request Function
Convert the request above into a function. The function should take in `latitude`, `longitude`, and `date` as its arguments and return the API response, if successful.

```
def get_api_response(latitude, longitude, date):
    # your code

```

Use the helper function below for creating a 15-day date range

In [58]:
# helper function for 15-day date range
def get_date_range(birthday):
    return {'start_date': birthday - timedelta(days=7),
            'end_date': birthday + timedelta(days=7)
           }

In [82]:
get_date_range(date(1998,5,12))

{'start_date': datetime.date(1998, 5, 5),
 'end_date': datetime.date(1998, 5, 19)}

In [104]:
# write your solution here
def get_api_response(latitude, longitude, date):
    url='https://archive-api.open-meteo.com/v1/archive'
    params={'latitude': latitude,
            'longitude': longitude,
            'start_date': "1998-05-05",
            'end_date': "1998-05-19",
            'daily': ['temperature_2m_max','temperature_2m_min','apparent_temperature_max','apparent_temperature_min','precipitation_sum'],
            'timezone': 'auto',
            'temperature_unit': 'fahrenheit',
            'precipitation_unit': 'inch'}
    r=requests.get(url,params=params)
    r=r.json()
    return r

In [106]:
get_api_response(40.75073, -73.98460,"1998-05-12")

{'latitude': 40.738136,
 'longitude': -74.04254,
 'generationtime_ms': 0.22995471954345703,
 'utc_offset_seconds': -18000,
 'timezone': 'America/New_York',
 'timezone_abbreviation': 'EST',
 'elevation': 57.0,
 'daily_units': {'time': 'iso8601',
  'temperature_2m_max': '°F',
  'temperature_2m_min': '°F',
  'apparent_temperature_max': '°F',
  'apparent_temperature_min': '°F',
  'precipitation_sum': 'inch'},
 'daily': {'time': ['1998-05-05',
   '1998-05-06',
   '1998-05-07',
   '1998-05-08',
   '1998-05-09',
   '1998-05-10',
   '1998-05-11',
   '1998-05-12',
   '1998-05-13',
   '1998-05-14',
   '1998-05-15',
   '1998-05-16',
   '1998-05-17',
   '1998-05-18',
   '1998-05-19'],
  'temperature_2m_max': [61.4,
   64.5,
   65.8,
   57.7,
   56.5,
   55.3,
   54.3,
   60.5,
   61.6,
   68.0,
   78.9,
   81.1,
   63.6,
   79.9,
   83.7],
  'temperature_2m_min': [54.0,
   54.2,
   53.0,
   51.9,
   52.9,
   50.7,
   50.4,
   50.2,
   44.3,
   41.8,
   46.7,
   55.1,
   53.5,
   50.7,
   59.3],
  'apparent_temperature_max': [61.0,
   64.4,
   66.8,
   53.3,
   51.6,
   51.5,
   48.8,
   54.0,
   60.1,
   69.8,
   83.9,
   86.7,
   62.8,
   79.8,
   85.5],
  'apparent_temperature_min': [52.0,
   53.7,
   52.5,
   48.2,
   48.4,
   45.8,
   44.8,
   42.5,
   37.1,
   38.4,
   43.6,
   54.3,
   51.7,
   48.6,
   58.6],
  'precipitation_sum': [0.374,
   0.406,
   0.004,
   0.567,
   1.709,
   0.992,
   0.791,
   0.024,
   0.0,
   0.0,
   0.0,
   0.0,
   0.378,
   0.0,
   0.043]}}

### Iterating Over Each Year
Write a function that iterates through each year between 1960 and 2022 and returns the corresponding JSON response objects containing weather data for each year in a python list.

```
def get_all_response_objects(start_year, end_year):
    # your code
```

In [137]:
# write your solution here
def get_all_response_objects(latitude, longitude, birthday):
    url='https://archive-api.open-meteo.com/v1/archive'
    params={'latitude': latitude,
            'longitude': longitude,
            'start_date': "1960-05-05",
            'end_date': "2022-05-19",
            'daily': ['temperature_2m_max','temperature_2m_min','apparent_temperature_max','apparent_temperature_min','precipitation_sum'],
            'timezone': 'auto',
            'temperature_unit': 'fahrenheit',
            'precipitation_unit': 'inch'}
    r=requests.get(url,params=params)
    r=r.text
    return r

In [139]:
responses=get_all_response_objects(40.75073,-73.98460,"1998-05-12")

### Parse JSON Responses & Aggregate Data
Write a function that takes the list of JSON response objects from the previous function in as a parameter and returns a pandas DataFrame containing the original input date, the measurements, and the average across the 15 days.
```
def parse_json_response(responses):
    # your code
```

In [153]:
# write your solution here
def parse_json_response(responses):
    df=pd.DataFrame(json.loads(responses))
    df.drop(['latitude','longitude','generationtime_ms','utc_offset_seconds','timezone','timezone_abbreviation','elevation','daily_units'],axis=1,inplace=True)
    df=df.explode('daily')
    return df

In [155]:
parse_json_response(responses)

                        daily
time               1960-05-05
time               1960-05-06
time               1960-05-07
time               1960-05-08
time               1960-05-09
...                       ...
precipitation_sum       0.039
precipitation_sum       0.272
precipitation_sum         0.0
precipitation_sum       0.008
precipitation_sum       0.547

[135960 rows x 1 columns]

### Combining the Functions
Write a function that combines all the above functions into one, where the user inputs their birthday and location and the function returns the pandas DataFrame containing the summary of measurements.

```
def get_data():
    birthday = get_user_birthday()
    location = get_user_city_of_birth()
    # your code here
```

The helper functions below can be used for birthday and location input information:

In [87]:
# helper functions
def get_user_birthday():
    birthday = input('Enter your birthday (MM/DD/YYYY): ')
    return datetime.strptime(birthday, "%m/%d/%Y")

def get_user_city_of_birth():
    city = input('Enter the city you were born in: ')
    country = input('Enter the country you were born in: ')
    return city , country

In [61]:
get_user_birthday()

Enter your birthday (MM/DD/YYYY):  05/12/1998

datetime.datetime(1998, 5, 12, 0, 0)

In [63]:
get_user_city_of_birth()

Enter the city you were born in:  New York City
Enter the country you were born in:  United States of America

('New York City', 'United States of America')

In [177]:
# write your solution here
def get_data():
    birthday=get_user_birthday()
    location=get_user_city_of_birth()
    latitude=40.75073
    longitude=-73.98460
    responses=get_all_response_objects(latitude,longitude,birthday)
    return parse_json_response(responses)

Run your function and set it equal to `df`:

In [179]:
df = get_data()

df.head()

Enter your birthday (MM/DD/YYYY):  05/12/1998
Enter the city you were born in:  New York City
Enter the country you were born in:  United States of America

           daily
time  1960-05-05
time  1960-05-06
time  1960-05-07
time  1960-05-08
time  1960-05-09

## Question 3: Visualizing The Data
Plot the DataFrame using `matplotlib`/`seaborn` and write a short summary of your results.

In [ ]:
# enter your code here

### Results Summary:

Unfortunately, I wasn't able to convert the indexes in my dataframe to be their own columns with the corresponding data the way I wanted to. Therefore, I'm not able to visualize my results and interpret them.